<div class="footer-area">
  <div class="footer container">
    <div class="row hidden-mobile">
      <div class="col-sm-3">
        <h6><a href="/superstring">Product</a></h6>
        <ul class="nav">
          <li><a href="/superstring">Overview</a></li>
          <li><a href="/superstring/download">Download</a></li>
          <li><a href="/superstring/pricing">Pricing</a></li>
          <li><a href="/superstring/updates">Updates</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6><a href="/superstring">Learn</a></h6>
        <ul class="nav">
          <li><a href="/superstring/get-started">Get started</a></li>
          <li><a href="/superstring/faq">FAQ</a></li>
          <li><a href="/superstring/shortcuts">Shortcuts</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6><a href="/support">Support</a></h6>
        <ul class="nav">
          <li><a href="/support/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <hr class="hidden-mobile">
    <div class="spacing hidden-desktop"></div>
    <div class="row">
      <div class="col-xs-6">
        © {{site.title}}
      </div>
      <div class="col-xs-6 righted">
        <a id="en" href="/">English</a><span style="margin:0 5px"> | </span>
        <a id="ko" href="/ko">한국어</a>
      </div>
    </div>
  </div>
</div>
<script src="/js/footer.js"></script>