<!--
<div class="sub-page-title">
  <h4>{{page.title}}</h4>
</div>
-->
<div class="sub-navbar-right">
  <ul class="nav">
    <li {% if page.title=="Get started" %}class="active" {% endif %}>
      <a href="/superstring/get-started">Get started</a>
    </li>
    <li {% if page.title=="FAQ" %}class="active" {% endif %}>
      <a href="/superstring/faq">FAQ</a>
    </li>
    <li {% if page.title=="Shortcuts" %}class="active" {% endif %}>
      <a href="/superstring/shortcuts">Shortcuts</a>
    </li>
  </ul>
</div>