<div class="sub-page-title">
    <h4><a href="/superstring"><img src="{{site.cloudinary}}/superstring/icon" alt="Superstring" class="icon">Superstring</a></h4>
</div>
<div class="sub-navbar-right">
    <ul class="nav">
        <li {% if page.title=="Overview" %}class="active" {% endif %}><a href="/superstring">Overview</a></li>
        <!--<li {% if page.title=="Download" %}class="active" {% endif %}><a href="/superstring/download">Download</a></li>-->
        <li {% if page.title=="Get started" %}class="active" {% endif %}><a href="/superstring/get-started">Get started</a></li>
        <li {% if page.title=="Pricing" %}class="active" {% endif %}><a href="/superstring/pricing">Pricing</a></li>
        <li {% if page.title=="FAQ" %}class="active" {% endif %}><a href="/superstring/faq">FAQ</a></li>
        <li {% if page.title=="Showcase" %}class="active" {% endif %}><a href="/superstring/showcase">Showcase</a></li>
        <li {% if page.title=="Shortcuts" %}class="active" {% endif %}><a href="/superstring/shortcuts">Shortcuts</a></li>
        <li {% if page.title=="Updates" %}class="active" {% endif %}><a href="/superstring/updates">Updates</a></li>
    </ul>
</div>