<div class="sub-page-title">
    <h4><a href="/membrane"><img src="{{site.cloudinary}}/membrane/icon" alt="Membrane" class="icon">Membrane</a></h4>
</div>
<div class="sub-navbar-right">
    <ul class="nav">
        <li {% if page.title=="Overview" %}class="active" {% endif %}><a href="/membrane">Overview</a></li>
        <li {% if page.title=="Download" %}class="active" {% endif %}><a href="/membrane/download">Download</a></li>
        <li {% if page.title=="Pricing" %}class="active" {% endif %}><a href="/membrane/pricing">Pricing</a></li>
        <li {% if page.title=="Get started" %}class="active" {% endif %}><a href="/membrane/get-started">Get started</a></li>
        <li {% if page.title=="FAQ" %}class="active" {% endif %}><a href="/membrane/faq">FAQ</a></li>
        <li {% if page.title=="Showcase" %}class="active" {% endif %}><a href="/membrane/showcase">Showcase</a></li>
        <li {% if page.title=="Shortcuts" %}class="active" {% endif %}><a href="/membrane/shortcuts">Shortcuts</a></li>
        <li {% if page.title=="Updates" %}class="active" {% endif %}><a href="/membrane/updates">Updates</a></li>
    </ul>
</div>