<div class="sub-page-title" style="margin-left:0">
    <h4><a href="/support">Support</a></h4>
</div>
<div class="sub-navbar-right">
    <ul class="nav navbar-nav">
        <li {% if page.title == "About" %}class="active" {% endif %}><a href="/support">About</a></li>
        <li {% if page.title == "Contact" %}class="active" {% endif %}><a href="/support/contact">Contact</a></li>
        <li {% if page.title == "Affiliates" %}class="active" {% endif %}><a href="/support/affiliates">Affiliates</a></li>
    </ul>
</div>