---
layout: page
title: Updates
categories: Superstring
sub-nav: sub-nav-superstring.html
ads: true
---
<div class="spacing-md"></div>
<div id="expired" style="display: none">
    <div class="row">
        <div class="col-lg-9">
            <p>Your license has expired on <strong id="date"></strong>, so you won't receive updates after <strong id="version"></strong>.
                <br>Renew your license to receive updates for another 1 year.</p>
        </div>
        <div class="col-lg-3 righted">
            <a href="/superstring/pricing" class="btn" style="margin-left:8px"><i class="ri-bank-card-2-line"></i> Buy license</a>
        </div>
    </div>
    <hr>
</div>
{% for versions in site.superstring_updates %}
{% if forloop.first == false %}<hr>{% endif %}
<div class="row updates">
    <div class="col-lg-1">
        <img src="/img/superstring/icon_256x256.png" alt="Superstring">
    </div>
    <div class="col-lg-3">
        <h4 name="version">Version {{versions.version}}</h4>
        <small name="locale-date">{{versions.release_date}}</small>
        <br>
        <small><a href="{{versions.mac}}">Mac</a>, <a href="{{versions.windows}}">Windows</a></small>
    </div>
    <div class="col-lg-8">
        <ul>{% for updates in versions.updates %}
            <li>{{updates.item}}</li>{% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
<script src="/js/updates.js"></script>