<meta name="description" content="{{site.superstring_description}}">
    <meta name="keywords" content="lyric video, lyrics video, lyric video maker, lyrics video editor, lyric video app, lyrics video app, superstring" />

    <!-- Open Graph data -->
    {% if page.post-title %}<meta property="og:title" content="{{page.post-title}}">
    <meta property="og:site_name" content="{{site.superstring_title}}">
    <meta property="og:url" content="{{site.url}}/{{page.url}}">
    <meta property="og:description" content="{{page.excerpt}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{site.url}}/{{page.image}}">
    {% else %}<meta property="og:title" content="{{site.ko_superstring_meta_title}}">
    <meta property="og:site_name" content="{{site.superstring_title}}">
    <meta property="og:url" content="{{site.url}}/superstring">
    <meta property="og:description" content="{{site.ko_superstring_description}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{site.url}}/assets/img/superstring/facebook.jpg">{% endif %}

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@wittenlab">
    <meta name="twitter:title" content="{{site.ko_superstring_meta_title}}">
    <meta name="twitter:description" content="{{site.ko_superstring_description}}">
    <meta name="twitter:image" content="{{site.url}}/assets/img/superstring/facebook.jpg">

    <title>{% if page.title %}{{page.title}} - {{site.superstring_title}}{% else %}{{site.superstring_meta_title}}{% endif %}</title>