<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/ko/superstring"><img src="{{site.cloudinary}}/superstring/icon" alt="Superstring" class="icon">Superstring</a>
      <div class="navbar-toggle">
        <div id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div id="nav-mobile" class="navbar-collapse">
      <ul class="nav">
        <li {% if page.title=="개요" %}class="active" {% endif %}>
          <a href="/ko/superstring" data-hover="dropdown">개요</a>
        </li>
        <li {% if page.title=="다운로드" %}class="active" {% endif %}>
          <a href="/ko/superstring/download" data-hover="dropdown">다운로드</a>
        </li>
        <li {% if page.title=="가격" %}class="active" {% endif %}>
          <a href="/ko/superstring/pricing" data-hover="dropdown">가격</a>
        </li>
        <li {% if page.categories=="학습" %}class="active" {% endif %}>
          <a href="/ko/superstring/get-started" data-hover="dropdown">학습</a>
        </li>
        <li {% if page.categories=="지원" %}class="active" {% endif %}>
          <a href="/ko/support/contact" data-hover="dropdown">지원</a>
        </li>
      </ul>
    </div>
  </div>
</div>