<div class="sub-page-title">
    <h4><a href="/ko/superstring"><img src="{{site.cloudinary}}/superstring/icon" alt="Superstring" class="icon">Superstring</a></h4>
</div>
<div class="sub-navbar-right">
    <ul class="nav">
        <li {% if page.title=="Overview" %}class="active" {% endif %}><a href="/ko/superstring">개요</a></li>
        <li class="hidden-mobile{% if page.title=="Download" %}active {% endif %}"><a href="/ko/superstring/download">다운로드</a></li>
        <li {% if page.title=="Get started" %}class="active" {% endif %}><a href="/ko/superstring/get-started">시작하기</a></li>
        <li {% if page.title=="Pricing" %}class="active" {% endif %}><a href="/ko/superstring/pricing">가격</a></li>
        <li {% if page.title=="FAQ" %}class="active" {% endif %}><a href="/ko/superstring/faq">자주하는 질문</a></li>
        <li {% if page.title=="Showcase" %}class="active" {% endif %}><a href="/ko/superstring/showcase">쇼케이스</a></li>
        <!--<li {% if page.title=="Shortcuts" %}class="active" {% endif %}><a href="/ko/superstring/shortcuts">단축키</a></li>
        <li {% if page.title=="Updates" %}class="active" {% endif %}><a href="/ko/superstring/updates">업데이트</a></li>-->
    </ul>
</div>