<div class="sub-page-title">
    <h4><a href="/ko/membrane"><img src="{{site.cloudinary}}/membrane/icon" alt="Membrane" class="icon">Membrane</a></h4>
</div>
<div class="sub-navbar-right">
    <ul class="nav">
        <li {% if page.title=="Overview" %}class="active" {% endif %}><a href="/ko/membrane">개요</a></li>
        <li class="hidden-mobile{% if page.title=="Download" %}active {% endif %}"><a href="/ko/membrane/download">다운로드</a></li>
        <li {% if page.title=="Get started" %}class="active" {% endif %}><a href="/ko/membrane/get-started">시작하기</a></li>
        <li {% if page.title=="Pricing" %}class="active" {% endif %}><a href="/ko/membrane/pricing">가격</a></li>
        <li {% if page.title=="FAQ" %}class="active" {% endif %}><a href="/ko/membrane/faq">자주하는 질문</a></li>
        <li {% if page.title=="Showcase" %}class="active" {% endif %}><a href="/ko/membrane/showcase">쇼케이스</a></li>
        <!--<li {% if page.title=="Shortcuts" %}class="active" {% endif %}><a href="/ko/membrane/shortcuts">단축키</a></li>
        <li {% if page.title=="Updates" %}class="active" {% endif %}><a href="/ko/membrane/updates">업데이트</a></li>-->
    </ul>
</div>