<div class="sub-navbar-right">
    <ul class="nav">
        <li {% if page.title=="Overview" %}class="active" {% endif %}><a href="/ko/membrane">개요</a></li>
        <li {% if page.title=="Download" %}class="active" {% endif %}><a href="/ko/membrane/download">다운로드</a></li>
        <li {% if page.title=="Pricing" %}class="active" {% endif %}><a href="/ko/membrane/pricing">가격</a></li>
        <li {% if page.title=="Get started" %}class="active" {% endif %}><a href="/ko/membrane/get-started">시작하기</a></li>
        <li {% if page.title=="FAQ" %}class="active" {% endif %}><a href="/ko/membrane/faq">자주하는 질문</a></li>
        <li {% if page.title=="Showcase" %}class="active" {% endif %}><a href="/ko/membrane/showcase">쇼케이스</a></li>
    </ul>
</div>