<!--
<div class="sub-page-title" style="margin-left:0">
  <h4>{{page.title}}</h4>
</div>
-->
<div class="sub-navbar-right">
  <ul class="nav navbar-nav">
    <li {% if page.title=="문의" %}class="active" {% endif %}>
      <a href="/ko/support/contact">문의</a>
    </li>
    <li {% if page.title=="쇼케이스" %}class="active" {% endif %}>
      <a href="/ko/superstring/showcase">소개</a>
    </li>
    <li {% if page.title=="제휴" %}class="active" {% endif %}>
      <a href="/ko/support/affiliates">제휴</a>
    </li>
  </ul>
</div>