<!--
<div class="sub-page-title">
  <h4>{{page.title}}</h4>
</div>
-->
<div class="sub-navbar-right">
  <ul class="nav">
    <li {% if page.title=="시작하기" %}class="active" {% endif %}>
      <a href="/ko/superstring/get-started">시작하기</a>
    </li>
    <li {% if page.title=="자주하는 질문" %}class="active" {% endif %}>
      <a href="/ko/superstring/faq">자주하는 질문</a>
    </li>
    <li {% if page.title=="단축키" %}class="active" {% endif %}>
      <a href="/ko/superstring/shortcuts">단축키</a>
    </li>
  </ul>
</div>