<div class="sub-navbar-right">
    <ul class="nav navbar-nav">
        <li {% if page.title == "About" %}class="active" {% endif %}><a href="/ko/support">소개</a></li>
        <li {% if page.title == "Contact" %}class="active" {% endif %}><a href="/ko/support/contact">문의</a></li>
        <li {% if page.title == "Affiliates" %}class="active" {% endif %}><a href="/ko/support/affiliates">제휴</a></li>
        <!--<li {% if page.title == "Blog" %}class="active" {% endif %}><a href="/ko/support/blog">블로그</a></li>-->
    </ul>
</div>