<div class="bottom-area">
    <div class="container centered">
        <h5 style="margin:0 0 12px 0">뉴스레터를 구독하세요!</h5>
        <div id="thanks" style="display:none">
            <p>뉴스레터를 구독해 주셔서 감사합니다.</p>
        </div>
        <form id="form" action="https://script.google.com/macros/s/AKfycbwZ9EGv8HmjkYwnbr8hthoWQNSQ54TnmS5AD_uueAByej6di_Xb/exec" method="GET">
            <input type="email" class="form-control subscribe" name="emailAddress" placeholder="이메일 주소" required>
            <button type="submit" class="btn" onclick="submitForm()">구독</button>
        </form>
    </div>
</div>
<iframe name="hiddenFrame" id="hiddenFrame" style="display:none"></iframe>
<script src="/js/subscribe.js"></script>