---
lang: ko
layout: page
title: Updates
categories: Superstring
sub-nav: ko/sub-nav-superstring.html
ads: true
---
<div class="col-lg-3 sidebar">
    <ul>
        {% for version in site.superstring.versions %}
        <li><a href="#{{version.versionNumber | replace:'.','_'}}">Version {{version.versionNumber}}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="col-lg-9 content">
    <div id="expired" style="display:none">
        <div class="spacing-large"></div>
        <p><strong id="date"></strong>에 라이센스가 만료되어 <strong id="version"></strong> 이후 업데이트를 받을 수 없습니다. 다시 1년 동안 업데이트를 받으려면 라이센스를 재구매하세요.</p>
        <a href="/ko/superstring/discount" class="btn"><i class="ri-bank-card-2-line"></i>재구매 할인</a>
        <hr>
    </div>
    {% for version in site.superstring.versions %}
    <div class="anchor" id="{{version.versionNumber | replace:'.','_'}}">
        <h4 class="version">Superstring {{version.versionNumber}}</h4>
        <p><small><a href="{{version.mac}}">Mac</a>, <a href="{{version.windows}}">Windows</a>&nbsp | &nbsp<span name="locale-date">{{version.release_date}}</span> 출시</small></p>
        <ul>
            {% for updates in version.updates_ko %}
            <li>{{updates.update}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<script src="/js/updates.js"></script>
<script src="/js/locale-date.js"></script>