---
lang: ko
layout: page
title: Updates
categories: Superstring
sub-nav: sub-nav-superstring.html
ads: true
---
<div id="expired" style="display: none">
    <div class="row">
        <div class="col-lg-9">
            <p><strong id="date"></strong>에 라이센스가 만료되어 <strong id="version"></strong> 이후 업데이트를 받을 수 없습니다.
                <br>다시 1년 동안 업데이트를 받으려면 라이센스를 갱신하세요.</p>
        </div>
        <div class="col-lg-3 righted">
            <a href="/superstring/pricing" class="btn" style="margin-left:8px"><i class="ri-bank-card-2-line"></i> 라이센스 구매</a>
        </div>
    </div>
    <hr>
</div>
{% for update in site.superstring %}
{% if forloop.first == false %}<hr>{% endif %}
<div class="row updates">
    <div class="col-lg-1">
        <img src="/assets/img/superstring/icon_256x256.png" alt="Superstring">
    </div>
    <div class="col-lg-4">
        <h4 name="version">버전 {{update.version}}</h4>
        <small name="locale-date">{{update.release_date}}</small>
        <br>
        <small><a href="{{update.mac}}">Mac</a>, <a href="{{update.windows}}">Windows</a></small>
    </div>
    <div class="col-lg-7">
        <ul>
            {% for content in update.contents_ko %}
            <li>{{content.content}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
<script src="/assets/js/locale-date.js"></script>
<script src="/assets/js/updates.js"></script>