---
layout: page
title: Updates
categories: Membrane
sub-nav: sub-nav-membrane.html
ads: true
---
<div class="col-lg-3 sidebar">
    <ul>
        {% for version in site.membrane.versions %}
        <li><a href="#{{version.versionNumber | replace:'.','_'}}">Version {{version.versionNumber}}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="col-lg-9 content">
    <div id="expired" style="display:none">
        <div class="spacing-large"></div>
        <p>Your license has expired on <strong id="date"></strong>, so you won't receive updates after <strong id="version"></strong>. Renew your license to receive updates for another 1 year.</p>
        <a href="/membrane/discount" class="btn"><i class="ri-bank-card-2-line"></i>Renew with a discount</a>
        <hr>
    </div>
    {% for version in site.membrane.versions %}
    <div class="anchor" id="{{version.versionNumber | replace:'.','_'}}">
        <h4 class="version">Membrane {{version.versionNumber}}</h4>
        <p><small><a href="{{version.mac}}">Mac</a>, <a href="{{version.windows}}">Windows</a>&nbsp | &nbspReleased on <span name="locale-date">{{version.release_date}}</span></small></p>
        <ul>
            {% for updates in version.updates %}
            <li>{{updates.update}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<script src="/js/updates.js"></script>