---
layout: page
title: Updates
categories: Membrane
sub-nav: sub-nav-membrane.html
ads: true
---
<div id="expired" style="display: none">
    <div class="row">
        <div class="col-lg-9">
            <p>Your license has expired on <strong id="date"></strong>, so you won't receive updates after <strong id="version"></strong>.
                <br>Renew your license to receive updates for another 1 year.</p>
        </div>
        <div class="col-lg-3 righted">
            <a href="/membrane/pricing" class="btn" style="margin-left:8px"><i class="ri-bank-card-2-line"></i> Buy license</a>
        </div>
    </div>
    <hr>
</div>
{% for update in site.membrane %}
{% if forloop.first == false %}<hr>{% endif %}
<div class="row updates">
    <div class="col-lg-1">
        <img src="/assets/img/membrane/icon_256x256.png" alt="Superstring">
    </div>
    <div class="col-lg-4">
        <h4 name="version">Version {{update.version}}</h4>
        <small name="locale-date">{{update.release_date}}</small>
        <br>
        <small><a href="{{update.mac}}">Mac</a>, <a href="{{update.windows}}">Windows</a></small>
    </div>
    <div class="col-lg-7">
        <ul>
            {% for content in update.contents %}
            <li>{{content.content}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
<script src="/assets/js/updates.js"></script>