@media (max-width: 1023px) {
  .nav .dropdown-menu {
    position: static;
    display: block;
    float: none;
    width: auto;
    margin-top: 0px;
    margin-left: 16px;
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .nav .dropdown-menu > li > a,
  .nav .dropdown-menu .dropdown-header {
    font-size: 14px;
    padding: 8px 0 8px 16px;
  }
  .navbar-collapse {
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid $divider-color;
    padding: 8px 0;
    display: none;
  }
  .navbar-collapse .nav > li > a {
    margin-left: 0;
  }
  .show {
    display: block !important;
  }
  .visible-xs {
    display: block !important;
  }
  .hidden-xs {
    display: none !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
  .subscribe {
    display: inline !important;
    width: 50% !important;
  }
  .updates .col-lg-3 {
    margin-left: 16px;
    margin-bottom: 16px;
  }
  .outro .col-lg-2,
  .outro .col-lg-5 {
    text-align: center;
  }
  .sidebar {
    margin-top: 24px;
  }

  .order-lg-2 {
    width: 100%;
  }
}