@media (max-width: 1023px) {
  .nav .dropdown-menu {
    position: static;
    display: block;
    float: none;
    width: auto;
    margin-top: 0px;
    margin-left: 16px;
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .nav .dropdown-menu > li > a,
  .nav .dropdown-menu .dropdown-header {
    font-size: 14px;
    padding: 8px 0 8px 16px;
  }
  .navbar-collapse {
    overflow-x: visible;
    padding: 8px 0;
    display: none;
  }
  .navbar-collapse .nav > li > a {
    margin-left: 0;
  }
  .visible-mobile {
    display: block !important;
  }
  .hidden-mobile {
    display: none !important;
  }
  .subscribe {
    display: inline !important;
    width: 50% !important;
  }
  .updates .col-lg-3 {
    margin-left: 16px;
    margin-bottom: 16px;
  }
  .sidebar {
    margin-top: 24px;
  }
  .order-lg-2 {
    width: 100%;
  }
}