*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Spoqa Han Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: $text-medium-emphasis-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-break: keep-all;
}

article,
aside,
details,
figcaption,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

i {
  font-size: 16px;
  vertical-align: middle;
}

h4 i {
  font-size: 32px;
}

b,
strong {
  font-weight: normal;
  color: $text-high-emphasis-color;
}

dfn {
  font-style: italic;
}

small {
  font-size: 14px;
}

.tiny a {
  font-size: 12px;
  color: $primary-color;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
  border: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

li {
  margin-bottom: 8px;
}

textarea {
  overflow: auto;
}

table {
  width: 100%;
  border-spacing: 0;
  background-color: transparent;
  margin-bottom: 20px;
  border: 1px solid $divider-color;
}

th {
  font-size: 18px;
  padding: 16px 12px;
  color: $text-high-emphasis-color;
  text-align: left;
}

td {
  padding: 8px 12px;
  text-align: left;
}

td:first-child {
  color: $text-high-emphasis-color;
}

tr:nth-child(even) {
  background: $background-variant-color
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $text-high-emphasis-color;
  text-decoration: none;
  background: transparent;
  @include transition();
}

a:hover,
a:focus {
  color: $primary-color;
  text-decoration: none;
  outline: 0;
}

img {
  vertical-align: middle;
  max-width: 100% !important;
}

.screenshot {
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .12);
  margin: 16px 0;
}

.img-rounded {
  border-radius: $border-radius;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: $text-high-emphasis-variant-color;
  border: $border;
  border-radius: $border-radius;
  @include transition();
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  line-height: 1.4;
  color: $text-high-emphasis-color;
  margin-top: 24px;
  margin-bottom: 8px;
}

h1 {
  font-size: 44px;
  font-family: 'Google Sans', sans-serif;
  letter-spacing: -1px;
  margin-bottom: 0px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 8px;
}

ul,
ol {
  padding-left: 24px;
  margin: 0;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999;
}

.container {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  margin: 16px 24px;
}

.margin-top-md {
  margin-top: 16px;
}

.margin-top-sm {
  margin-top: 8px;
}

.spacing {
  clear: both;
  height: 32px;
}

.spacing-padding {
  padding-top: 40px;
  padding-bottom: 24px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio,
.checkbox {
  margin-right: 8px;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radiomark {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 18px;
  width: 18px;
  background-color: $divider-color;
  border-radius: 50%;
  @include transition();
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 18px;
  width: 18px;
  background-color: $divider-color;
  border-radius: $border-radius;
  @include transition();
}

input:hover ~ .radiomark,
input:hover ~ .checkmark {
  background-color: $text-disabled-color;
}

input:checked ~ .radiomark,
input:checked ~ .checkmark {
  background-color: $primary-color;
}

input:checked ~ .radiomark:after,
input:checked ~ .checkmark:after {
  display: block;
}

.radiomark:after {
  content: "";
  position: absolute;
  display: none;
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $text-high-emphasis-variant-color;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: 2px solid $text-high-emphasis-variant-color;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

select[multiple],
select[size] {
  height: auto;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $text-high-emphasis-color;
  background-color: transparent;
  background-image: none;
  border: $border;
  border-radius: $border-radius;
  @include transition();
}

.form-control:focus {
  border-color: $primary-color;
  outline: 0;
}

.form-control::-moz-placeholder {
  color: $text-disabled-color;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: $text-disabled-color;
}

.form-control::-webkit-input-placeholder {
  color: $text-disabled-color;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: $divider-color;
  opacity: 1;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="date"] {
  line-height: 34px;
}

.form-group {
  padding-top: 8px;
  padding-bottom: 8px;
}

.form-group .dropdown-toggle,
.form-group .dropdown-menu {
  text-align: left;
  width: 100%;
}

.radio label,
.checkbox label {
  display: inline;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: $border-radius;
}

select.input-lg {
  height: 46px;
  line-height: 46px;
}

textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.icon {
  margin-right: 4px;
  transform: $translateY;
  width: 32px;
}

.btn i {
  margin-right: 8px;
}

.btn {
  font-weight: bold;
  min-width: 88px;
  display: inline-block;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: $border-radius;
  color: $text-high-emphasis-variant-color;
  background-color: $primary-color;
  border: 1px solid $divider-color;
  @include transition();
}

.btn:hover,
.btn:focus,
.btn:active {
  color: $text-high-emphasis-variant-color;
  transform: $translateY;
}

.btn-offset {
  color: $text-high-emphasis-color;
  border: $border;
  background-color: transparent;
}

.btn-offset:hover,
.btn-offset:focus,
.btn-offset:active {
  color: $text-high-emphasis-color;
}

.btn-icon-first {
  padding: 0 18px 0 14px;
}

.btn-icon-last {
  padding: 0 6px 0 14px;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition();
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 120px;
  padding: 5px 0;
  font-size: 14px;
  list-style: none;
  background-color: $background-variant2-color;
  background-clip: padding-box;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  @include transition();
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 8px 0;
  overflow: hidden;
  background-color: $divider-color;
}

.dropdown-menu > li > a {
  display: block;
  font-size: 13px;
  padding: 4px 12px;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: $divider-color;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: $text-high-emphasis-variant-color;
  text-decoration: none;
  background-color: $primary-color;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.sidebar li .active {
  color: $primary-color;
}

[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
  display: none;
}

.nav > li {
  position: relative;
  display: block;
  margin-bottom: 0px;
}

.nav > li > a {
  font-size: 13px;
  padding: 20px 2px 16px 2px;
  margin-left: 20px;
  position: relative;
  display: block;
}

.nav > li:first-child > a {
  margin-left: 0px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: $divider-color;
}

.nav > li.disabled > a {
  color: #999;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav img {
  width: 24px;
  margin-right: 4px;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: $divider-color;
}

.nav > li > a > img {
  max-width: none;
}

.navbar {
  border-bottom: 1px solid $divider-color;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px solid $divider-color;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.navbar-brand {
  font-family: 'Google Sans', sans-serif;
  float: left;
  height: 56px;
  padding: 16px 0;
  font-size: 18px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.sub-header {
  background-color: rgba(240, 240, 240, .6);
  backdrop-filter: saturate(180%) blur(16px);
  z-index: 1;
}

.sub-header .nav > .active > a {
  box-shadow: inset 0 -1px 0 $primary-color;
}

.sub-page-title {
  float: left;
  margin-left: -8px;
}

.sub-page-title h4 {
  font-family: 'Google Sans', sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 56px;
}

.bottom-area {
  padding-top: 32px;
  padding-bottom: 8px;
}

.footer-area {
  background-color: $background-variant-color;
  padding-bottom: 16px;
}

.navbar-toggle {
  position: relative;
  float: right;
  background-color: transparent;
  border: none;
  display: block;
}

.navbar-toggle:focus {
  outline: none;
}

.sub-navbar-right {
  float: right;
}

.sub-navbar-right .nav > li {
  float: left;
}

.navbar-fixed-bottom .nav > li > .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}

.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dropdown-menu > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.nav > .active > a,
.nav > .active > a:hover,
.nav > .active > a:focus {
  font-weight: bold;
  background-color: transparent;
}

.updates h4 {
  margin-top: 8px;
  margin-bottom: 0px;
}

.updates img {
  padding-top: 4px;
  width: 64px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

::-moz-selection {
  color: $text-high-emphasis-variant-color;
  text-shadow: none;
  background: $text-medium-emphasis-color;
}

::selection {
  color: $text-high-emphasis-variant-color;
  text-shadow: none;
  background: $text-medium-emphasis-color;
}

.height-96 {
  height: 96px;
  line-height: 96px;
}

.lefted {
  text-align: left;
}

.centered {
  text-align: center;
}

.righted {
  text-align: right;
}

.tagline {
  font-size: 24px;
  color: $text-medium-emphasis-color;
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: normal;
}

.outro h1 {
  font-size: 36px;
  letter-spacing: -1px;
  margin-top: 10px;
  margin-bottom: 0;
}

hr {
  border: 0;
  border-top: 1px solid $divider-color;
  margin: 24px 0;
}

.anchor {
  padding-top: 40px;
}

.subscribe {
  margin-right: 8px;
}

.footer {
  font-size: 12px;
  margin-bottom: 24px;
}

.footer .nav > li {
  float: none;
}

.footer .nav > li > a,
.footer .nav > li > a:active,
.footer .nav > li > a:focus,
.footer a,
.footer a:active,
.footer a:focus {
  font-size: 12px;
  padding: 0 0 4px 0;
  margin-left: 0;
  background-color: transparent;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 16px;
}

#nav-icon {
  margin: 22px 0 0 0;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: $text-medium-emphasis-color;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  @include rotate-transition(0deg);
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 7px;
}

#nav-icon span:nth-child(3) {
  top: 14px;
}

#nav-icon.open span:nth-child(1) {
  @include rotate-transition(45deg);
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(3) {
  @include rotate-transition(-45deg);
  top: 7px;
}

.card {
  text-align: center;
  position: relative;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 24px 8px;
  padding: 8px 16px 16px 16px;
}

.card a {
  margin: 8px 0;
}

.card-text {
  text-align: left;
  margin-top: 16px;
}

.card-text p {
  margin-bottom: 16px;
}

.product {
  width: 40px;
  margin-right: 8px;
}

#error {
  color: $error-color;
  font-size: 12px;
  margin-top: 4px;
}

.video-container {
  margin-bottom: 48px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}