<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}en{% endif %}">
{% include head.html %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWPD66P" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% include {{page.lang}}/nav.html %}
{{content}}
<div class="spacing-md"></div>
{% if page.ads %}
<div class="bottom-area">
    <div class="container">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7515886179474322" data-ad-slot="6479388898" data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endif %}
<div class="spacing-md"></div>
{% include {{page.lang}}/footer.html %}
<script src="/js/custom.js"></script>
<script src="/js/zoom.js"></script>
</body>
</html>